@page "/detalles/{id:int}"
@using Models
@using Services
@inject ILibroService LibroService

<MudText Class="text-center" Typo="Typo.h5">Detalles del Libro</MudText>

@if (libro == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <MudCard>
        <MudCardHeader Class="blue lighten-2">
            <CardHeaderContent>
                <MudText Typo="Typo.h6">@libro.Nombre</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardActions Class="center">
            <img src="@libro.Imagen" alt="@libro.Nombre" Elevation="25" class="rounded-lg" width="60%" height="300" />
        </MudCardActions>
        <MudCardContent>
            <MudText Typo="Typo.body2"><b>Fecha de Publicación:</b>@libro.FechaPublicacion</MudText>
            <br>
            <MudText Typo="Typo.body2"><b>Páginas:</b>@libro.NumPaginas</MudText>
         </MudCardContent>
    </MudCard>
}
@code {
    [Parameter]
    public int id { get; set; }

    Libro libro = new Libro();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
        libro = await LibroService.GetById(id);
    }
}
