@page "/detalles/{id:int}"
@using Models
@using Services
@inject ILibroService LibroService

<head>
    <link rel="stylesheet" href="css/app.css"/>
</head>
@*<MudText Class="text-center" Typo="Typo.h5">Detalles del Libro</MudText>*@

@if (libro == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <MudCard>
        <MudCardHeader Class="black">
            <CardHeaderContent>
                <MudText Class="titulo" Typo="Typo.h6">@libro.Nombre</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardActions Class="center">
            <img class="center" src="@libro.Imagen" alt="@libro.Nombre" Elevation="25"  width="25%" height="350" />
        </MudCardActions>
        <MudCardContent>
            <MudText class="Descri" Typo="Typo.body2"><b>Fecha de Publicación: </b>@libro.FechaPublicacion</MudText>
            <br>
            <MudText  class="Descri" Typo="Typo.body2"><b>Páginas:</b>@libro.NumPaginas</MudText>
            <br>
             <MudText class="Descri" Typo="Typo.body2"><b>Genero: </b>@libro.IdGenero</MudText>
             <br>
            <MudText class="Descri" Typo="Typo.body2"><b>Autor: </b>@libro.IdAutor</MudText>
            <br>
            <MudText class="Descri" Typo="Typo.body2"><b>Categoria: </b>@libro.Nombre</MudText>
            <br>
            <MudText class="Descri" Typo="Typo.body2"><b>Descripción: </b>@libro.Descripcion</MudText>
          
         </MudCardContent>
         <MudCardActions>
             <MudButton class="atras" Variant="Variant.Filled" Href="libros">Atrás</MudButton>
         </MudCardActions>
    </MudCard>
}
@code {
    [Parameter]
    public int id { get; set; }

    Libro libro = new Libro();

    

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
        libro = await LibroService.GetById(id);
    }
}
<style>
    .mud-button{
        background:blue;
        color:#fff;
    }
    .mud-button:hover{
        background:#fff;
        color:blue;
        border-color:blue;
    }

</style>
