@page "/libros"
@using Models
@using Services
@inject ILibroService LibroService

<head>
     <link rel="stylesheet" href="css/app.css"/>
</head>

@*<MudText Typo="Typo.h4">Libros</MudText>*@

@if (libros == null)
{
    <p>Cargando...</p>
}
else
{
    <MudGrid>
        @foreach (var item in libros)
        {
            <MudItem xs="12" sm="10" md="6" lg="4">
                <MudCard Class="card">
                    <MudCardHeader Class="black">
                        <CardHeaderContent>
                            <MudText Class="titulo" Typo="Typo.h6">@item.Nombre</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardActions>
                         <img src="@item.Imagen" alt="@item.Nombre" Elevation="50" class="center" width="100%" height="375" />
                        
                    </MudCardActions>

                    <MudCardActions>
                    <MudButton Class="btn" Link="@($"/detalles/{item.Id}")" Variant="Variant.Outlined" Color="Color.Dark">Detalles</MudButton>&nbsp; &nbsp; &nbsp;
                    <MudButton Class="btns" Link="@("/contenidolibro/{item.Id}")" Variant="Variant.Outlined">Leer</MudButton>
                       </MudCardActions>
                </MudCard>

            </MudItem>
        }
    </MudGrid>
}

@code {
    IEnumerable<Libro> libros = new List<Libro>();

    protected override async Task OnInitializedAsync()
    {
        libros = await LibroService.GetAll();
    }
}
<style>
    .mud-text{
        color:#fff;
    }
</style>

